/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

// Typeface
h1 {
  font-size: 1.4rem;
  font-weight: 350;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

strong {
  font-size: 1.2rem;
  font-weight: normal;
  color: #6a737c;
}

p {
  color: #242729;
}

.light-grey-small {
  font-size: 0.9rem;
  color: #6a737c;
}

.black-small {
  font-size: 0.9rem;
  color: #242729;
}

button {
  font-size: 0.8rem;
}

.btn {
  font-size: 0.8rem;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
  font-size: 0.8rem;
  color: #aaa;
}

.question-list-item-content h3 {
  color: #0476cd;
}

.ask-question label {
  font-weight: bold;
  color: #0c0d0e;
}
.ask-question p {
  font-size: 0.9rem;
  color: #3c4146;
}

.page-link {
  color: #242729;
}

.site-footer h5 {
  font-weight: 600;
  font-size: 0.8rem;
  color: #bbc0c4;
  text-transform: uppercase;
}

.site-footer a {
  font-size: 0.7rem;
  padding: 4px 0;
  color: #848d94;
}
.site-footer p {
  font-size: 0.7rem;

  color: #6a737b;
}

// Misc
.page-item.active .page-link {
  background-color: #f28024;
  border: 2px solid #f28024;
}
.page-link {
  background-color: white;
  border: 2px solid #d6d9dc;
  border-radius: 4px;
  margin: 0px 4px;
}

button {
  padding: 5px 10px;
  margin: 6px 0;
}

// Nav bar

body > nav {
  position: sticky;
  padding: 0;
}
.top-nav {
  border-top: 3px solid #f28024;
  box-shadow: 1px 1px 7px #d7d7d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.top-nav img {
  height: 20px;
}

.top-nav ul {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.top-nav li {
  height: 100%;
}

.top-nav svg {
  width: 25px;
  margin: 0 8px;
}

.no-bg-button {
  background: none;
  border: none;
  margin: 10px;
  color: #848d95;
}

.light-blue-button {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  background-color: #e1ecf4;
  color: #4a83a9;
  margin-right: 4px;
}

.light-blue-button svg {
  margin-right: 6px;
  fill: #4a83a9;
}

.blue-button {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);

  border: 1px solid #4e94ff;
  border-radius: 3px;
  background-color: #4f96ff;
  color: white;
}

.search {
  padding: 7px;
  border: 1px #bbc0c4 solid;
  background-color: #d6d9dc;
}

.search > div {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: 1px #bbc0c4 solid;
  background-color: white;
}

.search i {
  padding: 0 5px;
  color: #bbc0c4;
  background-color: white;
}

.search input {
  width: 100%;
  border: none;
}

// All Questions

.all-questions {
  padding: 16px;
}

.all-questions-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid red;
}

.btn-group {
  height: 38px;
}

.btn-secondary {
  color: #6a737b;
  border: 1px #929aa0 solid;
  background-color: white;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  color: #3c4145;
  border-color: #4e555b;

  background-color: #e3e6e8;
}

.all-questions-subheader {
  border-bottom: 1px #d6d9dc solid;
  padding-bottom: 12px;
}

.all-questions-subheader > div > div {
  display: flex;
  justify-content: space-between;
}

.question-list-item {
  padding: 12px;
  display: flex;
  border-bottom: 1px #d6d9dc solid;
}

.votes {
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votes > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votes p {
  text-align: center;
}

.question-list-item-content {
  width: 100%;
}

.question-list-item-content-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.all-questions > footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.all-questions > footer > nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Ask Question

.ask-question {
  padding: 0px 16px 16px;
  background-color: #eff0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ask-question svg,
.ask-question header {
  margin: 80px 0 30px;
}

.login {
  width: 70%;
}

.ask-question .ask-question h1 {
  padding: 24px 0px;
}

.ask-question section {
  padding: 16px;
  background: white;
  border: 1px #d6d9dc solid;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #bbbbbb;
}

.ask-question fieldset {
  margin-bottom: 16px;
}

.ask-question input {
  width: 100%;
  padding: 3px 7px;
  border: 1px #bbb solid;
  border-radius: 3px;
}

.ask-question textarea {
  width: 100%;
  height: 600px;
  border: 1px #bbb solid;
  border-radius: 3px;
}

.ask-question button {
  margin: 32px 0px;
}

// Question

.displayed-question {
  padding: 24px;
}

.displayed-question > header {
  border-bottom: 1px #e4e6e8 solid;
  margin-bottom: 16px;
}
.question-header {
  display: flex;
  flex-direction: column;
}
.displayed-question header button {
  margin-bottom: 12px;
  align-self: flex-end;
}

.question-stats-container {
  display: flex;
  margin-bottom: 16px;
}

.question-stats-container > div {
  margin-right: 16px;
  display: flex;
}

.question-stats-container span {
  margin-right: 4px;
}

.question {
  display: flex;
}

.question > div,
.answer > div {
  margin-right: 16px;
}

.answers {
  margin-bottom: 24px;
  padding-bottom: 16px;
}

.answers h3 {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.answer {
  display: flex;
  border-bottom: 1px #e4e6e8 solid;
  padding-bottom: 16px;
  margin-top: 16px;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote button {
  background: none;
  border: none;
}
.vote svg {
  fill: #bbc0c4;
}

.answer-content {
  margin-top: 16px;
  width: 100%;
}

.answer-footer p {
  text-align: right;
}

.displayed-question form {
  display: flex;
  flex-direction: column;
}

.displayed-question label {
  margin: 0;
}

.displayed-question textarea {
  height: 200px;
  margin: 24px 0;
  padding: 0;
}

.displayed-question form button {
  width: 150px;
}

//  Footer

.site-footer {
  padding: 24px 12px;
  background-color: #25282a;
  display: flex;
  flex-wrap: wrap;
}

.site-footer h5 {
  margin-bottom: 12px;
}

.site-footer nav > ul {
  display: flex;
}

.site-footer ul {
  padding: 0;
  margin: 0px 12px 24px 0px;
}

.site-footer li {
  list-style: none;
  padding: 2px 0;
}

.site-footer li {
  margin-right: 22px;
}

@media only screen and (max-width: 500px) {
  .top-nav img {
    display: none;
  }
}
